<table [dataSource]="dataSource" mat-table>
    <mat-text-column name="id" headerText="Order #"></mat-text-column>

    <ng-container matColumnDef="dish">
        <th *matHeaderCellDef mat-header-cell>Dishes</th>
        <td *matCellDef="let data" mat-cell>
            <div vflex-layout>
                <span *ngFor="let dishOrder of data.dishes">
                    {{ dishOrder.dish?.name }}: {{ dishOrder.count }} * 1 {{ dishOrder.dish?.unit }}
                    , {{ (dishOrder.dish?.price || 0) * dishOrder.count }}$
                </span>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="total">
        <th *matHeaderCellDef mat-header-cell>Total</th>
        <td *matCellDef="let data" mat-cell>{{ countTotal(data) }}</td>
    </ng-container>

    <tr *matHeaderRowDef="['id', 'dish', 'total' ]" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['id', 'dish', 'total'];" mat-row></tr>
</table>
